*{
    margin: 0px;
    padding: 0px;
}
.page{
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 140px auto auto auto;
    grid-template-rows: 120px auto 100px;    
}
.header{
    grid-column: 1/5;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgb(12, 11, 11);
}
.list{
    grid-column: 1/2;
    background-color: grey; 
}
.list > div{
    padding: 5px;    
}
.list div a{
    text-decoration: none;
    color: white;
}
.list div a:hover{
    color: black;
}
.main{
    grid-column: 2/5;
    padding: 20px;
}
.Footer{
    grid-column: 1/5;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;    
}
@media only screen and (max-width: 500px) {
    .page{
        background-color: white;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 100px 120px auto 80px;
        height: 100vh;
        width: 100%;
    } 
    .header{
        grid-column: 1/2;
    }
    .list{
        grid-column: 1/2;
        grid-row: 2/3;  
    }
    .main{
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .Footer{
        grid-column: 1/2;
    }
}
   
     
  